projectile-bookmarks.eld
recentf
transient
elpa
magithub
auto-save-list
config.el
treemacs-atom-theme.el
bookmarks
.last-package-update-day
/projects
*.cache
.lsp-session-*
forge-database.sqlite
quelpa
.dap-breakpoints
history
straight/
url/
