chatgpt-api-key.txt
projectile-bookmarks.eld
recentf
transient
elpa
magithub
auto-save-list
README.el
treemacs-atom-theme.el
bookmarks
.last-package-update-day
/projects
*.cache
.lsp-session-*
forge-database.sqlite
quelpa
.dap-breakpoints
history
straight/
url/
/.org-id-locations
/org-roam.db
/org-persist/
/.DS_Store
/eln-cache/
/img/.DS_Store
/games/
/usr/*
*.sqlite
/tree-sitter/
/usr/
